body {
  margin: 0;
  overflow: hidden;
  font-family: sans-serif;
  background: #f3f3f3;
}
#canvas-container {
  width: 100vw;
  height: 90vh;
}
#ui {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
}
button {
  margin: 5px;
  padding: 8px 12px;
}
